{% extends 'base.html.twig' %}

{% block title %}Pokerstats{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function() {
        function colorize(opaque) {
            return (ctx) => {
                console.log(ctx);
                /*const v = ctx.parsed.y;
                const c = v < 0.5 ? '#CF0909' : '#3860BB';
                return c;*/
                return '#3860BB';
            };
        }
        console.log({{ ranges|json_encode|raw }});
        const all_range = new Chart($('#tournament_range'),{
            type: 'bar',
            data: {
                datasets: [{
                    label: 'All range',
                    data: {{ ranges|json_encode|raw }},
                    /*backgroundColor: colorize(false),
                    borderColor: colorize(false),*/
                }]
            }
        });
        const tournoi_win_per_day = new Chart($('#tournament_win_per_day'),{
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Win per day',
                    data: {{ tournoi_win_per_day|json_encode|raw }},
                    /*backgroundColor: colorize(false),
                    borderColor: colorize(false),*/
                }]
            }
        });
        const tournoi_win_per_month = new Chart($('#tournament_win_per_month'),{
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Win per month',
                    data: {{ tournoi_win_per_month|json_encode|raw }},
                    /*backgroundColor: colorize(false),
                    borderColor: colorize(false),*/
                }]
            }
        });
        {#console.log({{ tournois_gains|json_encode|raw }});#}
        const tournois_gains = new Chart($('#tournament_gains'),{
            type: 'line',
            data: {
                showXAxisLabel:false,
                datasets: [{
                    label: 'Gains Tournois',
                    data: {{ tournois_gains|json_encode|raw }},
                    fill: false,
                    borderColor: '#3860BB',
                    borderWidth: 1,
                    tension: 0,
                    pointRadius: 0,
                }]
            },
            options: {
                scales: {
                    x: {  // <-- object '{' now, instead of array '[{' before in v2.x.x
                        ticks: {
                            display: false
                        }
                    }
                }
            }
        });
        {#console.log({{ tournament_win_party|json_encode|raw }});#}
        const tournois_win_party = new Chart($('#tournament_win_party'),{
            type: 'line',
            data: {
                showXAxisLabel:false,
                datasets: [{
                    label: 'Tournois win',
                    data: {{ tournament_win_party|json_encode|raw }},
                    fill: false,
                    borderColor: '#3860BB',
                    borderWidth: 1,
                    tension: 0,
                    pointRadius: 0,
                }]
            },
            options: {
                scales: {
                    x: {  // <-- object '{' now, instead of array '[{' before in v2.x.x
                        ticks: {
                            display: false
                        }
                    }
                }
            }
        });
    });
</script>
{% endblock %}
{% block body %}
<style>

</style>
<div class="container">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="d-flex .align-content-center"><h1>PokerStats</h1></div>
            </div>
            <div class="row">
                <canvas id="tournament_range" height="350px"><p>Tournoi range</p></canvas>
            </div>
                <div class="row">
                    <div class="col">
                        <canvas id="tournament_win_per_month" height="240px"><p>Tournoi Gains par mois</p></canvas>
                    </div>
                    <div class="col">
                        <canvas id="tournament_win_per_day" height="240px"><p>Tournoi Gains par jour</p></canvas>
                    </div>
                </div>
            <div class="row">
                <canvas id="tournament_gains" height="350px"><p>Tournoi Gains</p></canvas>
            </div>
            <div class="row">
                <canvas id="tournament_win_party" height="350px"><p>tournament_win_party</p></canvas>
            </div>
        </section>
    </section>
</div>
{% endblock %}
