{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}
{% block stylesheets %}
    <link href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css" rel="stylesheet">
    {{ parent() }}
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script>
        function ajaxContactBack(params) {

            let url = $("#table").data('url');
            let type = $("#table").data('type');
            console.log(url);
            $.get(url + '?' + $.param(params.data) + '&type=' + type).then(function (res) {
                params.success(res);
                console.log(res);
            });
        }
    </script>
    <script>
        function ajaxContactBack2(params) {
            console.log('test');
            let url = $("#table2").data('url');
            let type = $("#table2").data('type');
            console.log(url);
            $.get(url + '?' + $.param(params.data) + '&type=' + type).then(function (res) {
                params.success(res);
                console.log('test');
            })
        }
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="d-flex .align-content-center"><h1>Contacts</h1></div>
            <a href="{{ path('app_contact_new') }}">Create new</a>
        </div>
        <div class="row">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Validé
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">non validé
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <table id="table"
                               data-toggle="table"
                               data-height="800"
                               data-ajax="ajaxContactBack"
                               data-search="true"
                               data-side-pagination="server"
                               data-pagination="true"
                               data-page-size="all"
                               data-search-accent-neutralise="true"
                               data-type="true"
                               data-url="{{ path('app_ajax_contacts') }}">
                            <thead>
                            <tr>

                                <th data-field="pseudo" data-sortable="true">Pseudo</th>
                                <th data-field="age" data-sortable="true">Age</th>
                                <th data-field="sexe" data-sortable="true">Sexe</th>
                                <th data-field="ville" data-sortable="true">Ville</th>
                                <th data-field="comment">Comment</th>
                                <th data-field="action">actions</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row">
                        <table id="table2"
                               data-toggle="table"
                               data-height="800"
                               data-ajax="ajaxContactBack2"
                               data-search="true"
                               data-side-pagination="server"
                               data-pagination="true"
                               data-page-size="15"
                               data-search-accent-neutralise="true"
                               data-type=""
                               data-url="{{ path('app_ajax_contacts') }}">
                            <thead>
                            <tr>

                                <th data-field="pseudo" data-sortable="true">Pseudo</th>
                                <th data-field="age" data-sortable="true">Age</th>
                                <th data-field="sexe" data-sortable="true">Sexe</th>
                                <th data-field="ville" data-sortable="true">Ville</th>
                                <th data-field="comment">Comment</th>
                                <th data-field="action">actions</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
